.step {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font: inherit;
  font-family: montserrat;
  text-align: center;
  display: block;
  font-size: 25px;
  color: #383433;
  margin: 20px auto 0;
}
.wrapper {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

label {
  cursor: pointer;
}

.label {
  text-align: left;
  margin-left: 4%;
}
.text2 {
  max-width: 80%;
  padding: 20px;
  margin: 20px auto 0;
  text-align: left;
}

.text3 {
  padding: 20px 0;
  margin: 50px auto 0;
  text-align: left;
}

.allInput {
  padding-bottom: 20px;
  width: 80%;
  margin: 30px auto 10px;
  border-bottom: 3px solid #e8e8e8;
}
.input {
  color: #666;
  font-family: montserrat, sans-serif;
  font-weight: 700;
  font-size: 14px;
  border: 1px solid #00833f;
  height: 28px;
  box-shadow: inset 2px 2px 4px -2px #666;
  width: 90%;
  padding: 0 1%;
  margin: 10px;
}
.select {
  color: #666;
  font-family: montserrat, sans-serif;
  font-weight: 700;
  font-size: 14px;
  border: 1px solid #00833f;
  height: 28px;
  box-shadow: inset 2px 2px 4px -2px #666;
  width: 92%;
  padding: 0 7px;
  margin: 10px;
}
.input:focus-visible {
  outline-offset: 0px;
  outline: -webkit-focus-ring-color auto 1px;
}
.input:focus {
  border: 1px solid #238866;
  color: black;
}
.line {
  max-width: 80%;
  margin: auto;
  border-top: 6px solid #00833f;
  border-right: 1px solid #00833f;
  top: -6px;
  left: 0;
  right: 0;
  width: 100%;
  content: "";
}
p {
  color: #383433;
  font-family: montserrat;
}
.button {
  margin-top: 20px;
  margin: auto;
  font-size: 14px;
  padding: 8px 12px;
  color: #fff;
  background-color: #00833f;
  border: 1px solid #00833f;
  font-family: alegreya;
  font-family: montserrat, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-style: normal;
  text-decoration: none;
  letter-spacing: 1px;
  width: 50px;
  display: inline-block;
  -webkit-appearance: none;
  transition: all 100ms ease-in-out;
  cursor: pointer;
}
.button:hover {
  color: #00833f;
  border: 1px solid #00833f;
  background-color: #fff;
}
.text {
  margin: 5px 0 20px;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
  display: block;
  overflow: hidden;
  font-family: montserrat;
  font-style: normal;
  font-weight: 700;
  color: #000;
  font: inherit;
}
.AllButtons {
  margin-top: 15px;
  border-top: 4px solid #e8e8e8;
}
.buttonRight {
  margin-top: 20px;
  float: right;
  font-size: 14px;
  padding: 8px 12px;
  color: #fff;
  background-color: #00833f;
  border: 1px solid #00833f;
  font-family: alegreya;
  font-family: montserrat, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-style: normal;
  text-decoration: none;
  letter-spacing: 1px;
  display: inline-block;
  -webkit-appearance: none;
  transition: all 100ms ease-in-out;
  cursor: pointer;
}
.buttonRight:hover {
  color: #00833f;
  border: 1px solid #00833f;
  background-color: #fff;
}
.Allradios label {
  width: 60%;
  text-align: left;
  margin: 5px auto;
}
.padioWrapper {
  width: 60%;
  margin: auto;
}
.Allradios {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 50px auto 10px;
  padding-bottom: 50px;
  border-bottom: 3px solid #e8e8e8;
}

.radio {
  margin: 10px;
  display: inline;
}
input[type="radio"] {
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #00833f;
  cursor: pointer;
  display: inline-block;
  height: 14px;
  margin-right: 15px;
  position: relative;
  width: 14px;
  -webkit-appearance: none;
  box-shadow: 0px 0px 2px #00833f;
}
input[type="radio"]:after {
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  border: 1px solid #ffffff;

  content: "";
  display: block;
  height: 8px;
  top: 1px;
  left: 1px;
  position: relative;

  width: 8px;
}
input[type="radio"]:checked:after {
  background-color: #00833f;
  /* box-shadow: 0px 0px 1px #00833f; */
}

.buttonLeft {
  margin-top: 20px;
  float: left;
  font-size: 14px;
  padding: 8px 12px;
  color: #fff;
  background-color: #00833f;
  border: 1px solid #00833f;
  font-family: alegreya;
  font-family: montserrat, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-style: normal;
  text-decoration: none;
  letter-spacing: 1px;
  display: inline-block;
  -webkit-appearance: none;
  transition: all 100ms ease-in-out;
  cursor: pointer;
}
.buttonLeft:hover {
  color: #00833f;
  border: 1px solid #00833f;
  background-color: #fff;
}

.page4LineForBall {
  position: relative;
  width: 95%;
  height: 30px;
  margin: 100px auto;
  border-top: 2px solid #006e51;
}

.page4LineForBall::before {
  position: absolute;
  height: 6px;
  width: 13px;
  content: "";
  border-radius: 1px;
  background-color: #006e51;
  top: -4px;
  right: 100%;
}
.page4LineForBall::after {
  position: absolute;
  height: 6px;
  width: 13px;
  content: "";
  border-radius: 1px;
  background-color: #006e51;
  top: -4px;
  left: 100%;
}

.ball1 {
  background: #cce0d5;
  display: block;
  border-radius: 100%;
  position: absolute;
  width: 120px;
  height: 120px;
  top: -200%;
  left: 4%;
}

.ball1Hover {
  background: #cce0d5;
  display: block;
  border-radius: 100%;
  position: absolute;
  width: 120px;
  height: 120px;
  top: -200%;
  left: 4%;
  border: 1px solid #006e51;
  box-shadow: 0px 0 10px #006e51;
}

.ball2 {
  background: #cce0d5;
  display: block;
  border-radius: 100%;
  position: absolute;
  width: 90px;
  height: 90px;
  top: -155%;
  left: 24%;
}

.ball2Hover {
  background: #cce0d5;
  display: block;
  border-radius: 100%;
  position: absolute;
  width: 90px;
  height: 90px;
  top: -155%;
  left: 24%;
  border: 1px solid #006e51;
  box-shadow: 0px 0 10px #006e51;
}

.ball3 {
  background: #cce0d5;
  display: block;
  border-radius: 100%;
  position: absolute;
  width: 60px;
  height: 60px;
  top: -100%;
  left: 45.8%;
}

.ball3Hover {
  background: #cce0d5;
  display: block;
  border-radius: 100%;
  position: absolute;
  width: 60px;
  height: 60px;
  top: -100%;
  left: 45.8%;
  border: 1px solid #006e51;
  box-shadow: 0px 0 10px #006e51;
}

.ball4 {
  background: #cce0d5;
  display: block;
  border-radius: 100%;
  position: absolute;
  width: 48px;
  height: 48px;
  top: -80%;
  left: 67%;
}

.ball4Hover {
  background: #cce0d5;
  display: block;
  border-radius: 100%;
  position: absolute;
  width: 48px;
  height: 48px;
  top: -80%;
  left: 67%;
  border: 1px solid #006e51;
  box-shadow: 0px 0 10px #006e51;
}

.page4RadioForBall {
  padding: 10px 10px;
  display: flex;
  justify-content: space-around;
}
