.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .header {
    margin-top: -15px;
    font-family: ebgaramond;
    font-size: 30px;
    color: #383433;
    font-family: montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 20px 0 16px;
  }

  .line {
    width: 100%;
    border-top: 3px solid #e7e7e8;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    position: relative;

  }